*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  min-height: 100vh;
  background-image: url("background.png"); /* image name */
  background-size: cover;          /* poora screen cover */
  background-position: center;     /* center me rahe */
  background-repeat: no-repeat;    /* repeat na ho */
  background-attachment: fixed;    /* scroll pe fixed rahe */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00ffff;
}

/* Heading */
h1{
  text-shadow: 0 0 15px cyan;
}

/* Explore button */
.neon-btn{
  margin-top: 20px;
  padding: 12px 30px;
  text-decoration: none;
  color: #00ffff;
  border: 2px solid cyan;
  border-radius: 30px;
  box-shadow: 0 0 15px cyan;
}
