body{
  margin:0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}

h1{
  color:#00f7ff;
  text-shadow: 0 0 5px #00f7ff;
}

.neon-btn{
  display:inline-block;
  margin-top:30px;
  padding:15px 30px;
  color:#00f7ff;
  border:2px solid #00f7ff;
  border-radius:30px;
  text-decoration:none;
  font-size:18px;
  box-shadow: 0 0 10px #00f7ff;
}

.neon-btn:hover{
  background:#00f7ff;
  color:#000;
}
