* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #000;
  font-family: Arial, sans-serif;
  color: #00ffcc;

  background-image: url("technology-sr-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* DARK OVERLAY */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.65);
  z-index: -1;
}

/* CENTER CONTENT */
.center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 20px;
}

/* NEON TITLE */
.neon {
  font-size: 2.5rem;
  text-shadow:
    0 0 5px #00ffcc,
    0 0 15px #00ffcc,
    0 0 30px #00ffcc;
}

/* NEON BUTTON */
.btn {
  width: 100%;
  max-width: 320px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #00ffcc;
  border: 2px solid #00ffcc;
  border-radius: 30px;
  box-shadow: 0 0 15px #00ffcc;
  transition: 0.3s;
}

.btn:hover {
  background: #00ffcc;
  color: #000;
}
